/src/main/resources/log.out
/src/main/resources/wiki-news-300d-1M.vec
/target/
src/main/outputs/*
/src/main/resources/logCorrectnessTest.out
.DS_Store
libs/*
!.keep
.idea
/src/main/resources/streamed_dataset.txt/*
log.out
*.iml
/kubernetes/environment/dependencies.env
/kubernetes/coordinator-api-calls.sh
./dependency-reduced-pom.xml
kubernetes/update_hostname.sh
/src/main/java/StreamGeneratorComponent/target/